MONGO_URI=YOUR_MONGO_URI_HERE
NODE_ENV=production
PORT=3000
JWT_SECRET=YOUR_JWT_SECRET_HERE // this is for refresh token
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY_HERE // this is for access token
REDIS_HOST=YOUR_REDIS_HOST_HERE
REDIS_PORT=YOUR_REDIS_PORT_HERE
REDIS_PASSWORD=YOUR_REDIS_PASSWORD_HERE
DATABASE=YOUR_POSTGRESSQL_URL